﻿@model WebApplication1.Models.Issue.IssueSummaryViewModel[]

<h3>Created By You</h3>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Subject</th>
        <th>IssueIssueType</th>
        <th>Created At</th>
        <th>Assigned To</th>
    </tr>
    </thead>
    <tbody class="row-link" data-link="row">
    @foreach (var issue in Model)
    {
        <tr>
            <td>@Html.ActionLink(@issue.Subject, "View", "Issue", routeValues:new{id=@issue.IssueId}, htmlAttributes:null)</td>
            <td>@issue.IssueType</td>
            <td>@issue.CreatedAt.ToShortDateString()</td>
            <td>@issue.AssignedToUserName</td>
        </tr>   
    }
    </tbody>
</table>