﻿@using WebApplication1.Helpers
@model WebApplication1.Models.Issue.EditIssueForm
@{
    ViewBag.Title = "Edit" + Model.Subject;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Issue</h2>
@using (Html.BeginForm("Edit", "Issue", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel()

    @*@Html.HiddenFor(m => m.IssueId)
    <div class="form-group">
        @Html.BootstrapLabelFor(m => m.CreatorUserName)
        <div class="col-sm-10">
            @Html.EditorFor(m=>m.CreatorUserName)
        </div>
    </div>
    <div class="form-group">
        @Html.BootstrapLabelFor(m => m.Subject)
        <div class="col-md-10">
            @Html.EditorFor(m => m.Subject)
            @Html.ValidationMessageFor(m => m.Subject)
        </div>
    </div>
    <div class="form-group">
        @Html.BootstrapLabelFor(m => m.IssueType)
        <div class="col-md-10">
            @Html.EditorFor(m => m.IssueType)
            @Html.ValidationMessageFor(m => m.IssueType)
        </div>
    </div>
    <div class="form-group">
        @Html.BootstrapLabelFor(m => m.AssignedToId)
        <div class="col-md-10">
            @Html.EditorFor(m => m.AssignedToId)
            @Html.ValidationMessageFor(m => m.AssignedToId)
        </div>
    </div>
    <div class="form-group">
        @Html.BootstrapLabelFor(m => m.Body)
        <div class="col-md-10">
            @Html.EditorFor(m => m.Body)
            @Html.ValidationMessageFor(m => m.Body)
        </div>
    </div>*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save Changes" class="btn btn-default" />
        </div>
    </div>
}

