﻿@using WebApplication1.Helpers
@model WebApplication1.Models.Issue.NewIssueForm
@{
    ViewBag.Title = "New Issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Issue</h2>
@using (Html.BeginForm("New", "Issue", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.EditorForModel()
    @*<div class="form-group">
        @Html.BootstrapLabelFor(m => m.Subject)
        <div class="col-md-10">

            @Html.EditorFor(m => m.Subject)
            @Html.ValidationMessageFor(m => m.Subject)
        </div>
    </div>
    <div class="form-group">
        @Html.BootstrapLabelFor(m => m.IssueType)
        <div class="col-md-10">
            @Html.EditorFor(m => m.IssueType)
            @Html.ValidationMessageFor(m => m.IssueType)
        </div>
    </div>
    <div class="form-group">
        @Html.BootstrapLabelFor(m => m.AssignedToUserId)
        <div class="col-md-10">
            @Html.EditorFor(m => m.AssignedToUserId)
            @Html.ValidationMessageFor(m => m.AssignedToUserId)
        </div>
    </div>
    <div class="form-group">
        @Html.BootstrapLabelFor(m => m.Body)
        <div class="col-md-10">
            @Html.EditorFor(m => m.Body)
            @Html.ValidationMessageFor(m => m.Body)
        </div>
    </div>*@


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Issue" class="btn btn-default" />
        </div>
    </div>
}