﻿@using WebApplication1.Infrastructure.Alerts

@if (TempData.GetAlerts().Any())
{
    <div class="container alert-container">
        @foreach (var alert in TempData.GetAlerts())
        {
            <div class="alert @alert.AlertClass alert-dismisable">
                <button type="button" class="close" data-dismiss="alert">
                    &times;
                </button>
                @alert.Message
            </div>
        }
    </div>
}